@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://raw.githubusercontent.com/AutumnVN/discordcss/main/SoftX.css');
@import url('https://discordstyles.github.io/SoftX/RadialGlow.css');
@import url('https://discordstyles.github.io/SoftX/VerticalUserArea.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
    --dark-background: #20202069;
    --dark-background-2: #69696969;
    --interactive-hover: rgb(var(--accent));
    --background-image: url('https://cdn.discordapp.com/attachments/844482853161271336/1029001344599740416/chino.jpg');
    /* Background image | URL MUST BE A DIRECT LINK (ending in .jpg, .jpeg, .png, .gif) */
    --background-blur: 0px;
    /* Blur intensity of --background-image */
    --opacity: 0.6;
    /* Opacity of overall app. | Default: .85 */
    --accent: 3, 169, 244;
    /* Colour used around the app. | Values are in R,G,B format. | Default: 0, 231, 169 */
    --glow-intensity: 1;
    /* Intensity of the glow used around the app. | Set to 0 to disable the glow. | Decimals allowed | Default: 1 */
    --font: Inter;
    /* Custom font | Default: 'Inter' */
    --channels-width: 300px;
    /* Width of the channels list. | Default: 300px */
    --guilds-width: 90px;
    /* Width of the server list. | Default: 105px */
    --members-width: 280px;
    /* Width of the members list. | Default: 280px */
    --server-size: 50px;
    /* Size of the servers inside the server list. | Default: 50px */
    --chat-avatar-size: 50px;
    /* Size of the chat avatars. | Default: 32px */
    --rs-small-spacing: 1px;
    /* Gap between avatar and status for members list/dms | MUST end in px */
    --rs-medium-spacing: 2px;
    /* Gap between avatar and status for User popout | MUST end in px */
    --rs-large-spacing: 3px;
    /* Gap between avatar and status for User profiles | MUST end in px */
    --rs-small-width: 1px;
    /* Ring width | Default: 1.5px */
    --rs-medium-width: 2px;
    --rs-large-width: 3px;
    --rs-avatar-shape: 50%;
    /* 50% for round - 0% for square */
    --rs-online-color: #43b581;
    /* Colour for online status */
    --rs-idle-color: #faa61a;
    /* Colour for idle status */
    --rs-dnd-color: #f04747;
    /* Colour for dnd status */
    --rs-offline-color: #636b75;
    /* Colour for offline status */
    --rs-phone-color: #43b581;
    /* Colour of the ring and phone icon when a user is on their phone */
    --rs-streaming-color: #643da7;
    /* Colour for streaming status */
    --rs-phone-visible: block;
    /* Visibility of the phone icon next to a users avatar. | block = visible | none = hidden */
    --rs-invisible-color: #747f8d;
    /* Colour for invisible status - Note: this will only show for your own invisibility */
}

/* Add Custom Icon For Home Button */
.homeIcon-r0w4ny path {
    fill: transparent
}

.homeIcon-r0w4ny {
    background: url('https://avatars.githubusercontent.com/u/77253698?v=4') center/cover no-repeat;
    min-width: 60px;
    min-height: 60px;
}

/* Add Voice Background */
[data-selenium-video-tile="393694671383166998"] .background-L8lGH6 {
    background: url("https://cdn.discordapp.com/attachments/844482853161271336/1029001344599740416/chino.jpg") center/cover no-repeat;
}

/* Add Code Font */
[class^="markdown-"] [class^="codeInline-"],
[class^="codeLine-"],
[class^="codeBlockText-"],
[class^="durationTimeDisplay-"],
[class^="durationTimeSeparator-"],
[class*="after_inlineCode-"],
[class*="before_inlineCode-"],
[class^="inlineCode-"],
code.inline,
code,
.hljs {
    font-family: var(--font-code) !important;
}

/* Add Bigger Picture In Picture */
.pictureInPictureVideo-2puO2Q {
    width: 640px;
    height: 360px;
}

/* Add Some Text */
[class^="scrollerContent-"]::after {
    content: "AutumnVN // Chino Kafuu";
    position: sticky;
    color: var(--text-normal);
    opacity: 50%;
    align-self: flex-end;
    right: 20px;
    bottom: 12px;
}

/* Add Transparent Background Popout And Profile */
#app-mount .profileColors-3Y0XaR {
    --profile-avatar-border-color: transparent !important;
    --profile-gradient-primary-color: var(--dark-background) !important;
    --profile-gradient-secondary-color: var(--dark-background) !important;
    --profile-body-background-color: transparent !important;
    --profile-gradient-overlay-color: transparent !important;
    --profile-body-divider-color: var(--dark-background-2) !important;
    --profile-role-pill-background-color: var(--dark-background-2) !important;
    --profile-gradient-button-color: var(--dark-background-2) !important;
    --profile-message-input-border-color: transparent !important;
}

[class^="textarea"],
[class^="inputDefault"] {
    background: transparent !important;
}

/* Add Round Role And No Role Border */
.role-2TIOKu {
    border: 0;
    border-radius: 727px;
}

/* Add Compact Mode */
@media screen and (max-width: 1000px) {
    [class^=membersWrap], /* Members List */
    [aria-label*="Member List"], /* Button to Hide/Show Members List */
    nav[class*=guilds] + [class^=base] > [class^=content] > [class^=sidebar], /* Channels List */
    nav[class*=guilds][class^=wrapper] /* Servers List */
    { display: none; }
  
    @media screen and (max-height: 500px) {
      /* Channel Header */
      [aria-label="Channel header"] { display: none !important;}
      nav[class*=guilds] + [class^=base] > [class^=content] > [class^=chat] { padding-top: 0px !important;}
    }
}

/* Add Replaces Message Links with "Jump to Message" */
[title^="https://discord.com/channels/"],
[title^="https://ptb.discord.com/channels/"],
[title^="https://canary.discord.com/channels/"] {
    line-height:0;
    font-size:0;
}
[title^="https://discord.com/channels/"]::before,
[title^="https://ptb.discord.com/channels/"]::before,
[title^="https://canary.discord.com/channels/"]::before {
  content: "Jump to Message";
  font-size: 16px;
  font-weight: 500;
}

/* Add Popout Banner */
[aria-label="AutumnVN"]>.userProfileOuterUnthemed-2b2rsv .userProfileInnerThemedNonPremium-1gT-zY .banner-2boKnS {
    background: url("https://cdn.discordapp.com/attachments/844482853161271336/1037273156412522516/chino-banner.jpg") center/cover no-repeat !important;
    display: flex;
}
[aria-label="AutumnVN"]>.userProfileOuterUnthemed-2b2rsv .userProfileInnerThemedNonPremium-1gT-zY>.bannerSVGWrapper-qc0szY foreignObject {
    mask: none;
}
[aria-label="AutumnVN"]>.userProfileOuterUnthemed-2b2rsv .userProfileInnerThemedNonPremium-1gT-zY>.bannerSVGWrapper-qc0szY .popoutBanner-16rVDY {
    height: 120px
}
[aria-label="AutumnVN"]>.userProfileOuterUnthemed-2b2rsv .userProfileInnerThemedNonPremium-1gT-zY .bannerSVGWrapper-qc0szY {
    overflow: visible;
    z-index: 0;
}
[aria-label="AutumnVN"]>.userProfileOuterUnthemed-2b2rsv .userProfileInnerThemedNonPremium-1gT-zY.userPopoutInner-1hXSeY {
   height: 100%;
}
[aria-label="AutumnVN"]>.userProfileOuterUnthemed-2b2rsv .userProfileInnerThemedNonPremium-1gT-zY.userPopoutInner-1hXSeY .container-5SvbtF {
    margin-top: calc(100% - 299px);
}
[aria-label="AutumnVN"]>.userProfileOuterUnthemed-2b2rsv .userProfileInnerThemedNonPremium-1gT-zY>.clickable-3iBWTO.avatarWrapperNormal-1tQ3Je.avatarWrapper-3y0KZ1.avatarPositionNormal-V4Mjtq {
    margin-top: 60px;
}

/* Add Wider Embeds */
.embed-hKpSrO,
.embed-hKpSrO > .gridContainer-1cF_Ic{
    max-width: 666px !important;
}

/* Add Green Bar Spotify */
#vc-spotify-progress-bar .barFill-2Bh7CX {
    background: var(--spotify);
}

/* Fix Public Badge */
.communityInfoContainer-1dMVpU {
    position: absolute;
    right: 50px;
    top: 23px;
}

/* Fix Emoji Tab Buttons */
#app-mount .navItem-3McpmW:nth-child(1) .contents-3ca1mk::before {
    -webkit-mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" /></svg>');
    mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" /></svg>');
}

#app-mount .navItem-3McpmW:nth-child(2) .contents-3ca1mk::before {
    -webkit-mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" /></svg>');
    mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" /></svg>');
}

#app-mount .navItem-3McpmW:nth-child(3) .contents-3ca1mk::before {
    -webkit-mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>');
    mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>');
}

/* Fix Voice Text Channel Button */
.button-f2h6uQ.lookBlank-21BCro.colorBrand-I6CyqQ.grow-2sR_-F.chatButton-10jXXp {
    position: fixed;
    top: 47px;
    right: 227px;
}

/* Remove Turn On Camera Button */
.button-1EGGcP[aria-label="Turn On Camera"] {
    display: none;
}

/* Remove Nitro Ads */
[class^="channel-"] > div > [href="/store"], /* Nitro Button above DM List */
[class^="channelTextArea"] [class^="buttons-"] > button, /* Hide Gift Button */
[class^="upsellVisible-"], /* Hide Banner Nitro Upsell Header */
[class^="premiumIconWrapper"], /* Hide Nitro Icon on Banners */
[class^="characterCount-"] [class*="upsell-"], /* "Send longer Messages with Discord Nitro!" */
[class^="emojiSection-"] [class*="shinyButton-"], /* "Get Nitro" button in Emoji/Sticker modal" */
[class*="tryItOutSection-"], /* Try Nitro Banner */
[class*="bannerNitroUpsell-"], /* "Unlock Banner" in Profile Editor */
[class^="imageUploaderHint-"] {
    display: none !important;
}

/* Remove Thread Suggestion */
[class^="threadSuggestionBar"] {
    display: none;
}

/* Remove Invite Button On Channel */
.iconBase-2G48Fc[aria-label="Create Invite"] {
    display: none !important;
}

/* Remove Help Button */
.iconWrapper-2awDjA.clickable-ZD7xvu[aria-label="Help"] {
    display: none !important;
}

/* Remove Useless Context Menus */
#channel-context-invite-people,
#user-context-invite-to-server,
#user-context-mark-as-message-request,
#user-context-clear-message-request,
#user-context-apps,
#user-context-call,
#user-context-note,
#user-context-add-friend-nickname,
#message-actions-thread,
#message-actions-apps,
#message-actions-mark-unread,
#message-actions-edit,
#message-add-reaction,
#message-thread,
#message-apps,
#message-mark-unread,
#message-edit
 {
    display: none !important;
}

/* Remove Banner Color */
.banner-2boKnS.popoutBanner-16rVDY,
.banner-2boKnS.profileBanner-2zIsK7 {
    display: none;
}

/* Remove Banner Color In DM Profile */
.banner-2boKnS.panelBanner-13bsBR {
    background-color: transparent !important;
}

/* Remove Snow Decor */
.avatarDecorationHint-GIo7Yh {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    left: 0px;
    top: 0px;
}

[mask="url(#svg-mask-avatar-decoration-profile-status-square-80)"]
    .avatarHintInner-3gk_Yx {
    font-size: 12px !important;
}

.avatarDecoration-2OJuSI,
.avatarDecoration-34OC0G,
.bannerSVGWrapper-qc0szY mask image {
    display: none;
}


  